Sourse Code/ws-client-v3/ws-client/xml-resources/web-service-references/EdgeDetectionService/wsdl/192.168.1.200_8080/ws-server/EdgeDetectionService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-740-. --><xs:schema xmlns:tns="http://kou.computer/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://kou.computer/">

<xs:element name="FileNotFoundException" type="tns:FileNotFoundException" />

<xs:element name="ImageTrans" type="tns:ImageTrans" />

<xs:element name="ImageTransResponse" type="tns:ImageTransResponse" />

<xs:complexType name="ImageTrans">
<xs:sequence>
<xs:element name="arg0" type="xs:base64Binary" nillable="true" minOccurs="0" />
<xs:element name="arg1" type="xs:string" minOccurs="0" />
<xs:element name="arg2" type="xs:string" minOccurs="0" />
<xs:element name="arg3" type="xs:double" />
<xs:element name="arg4" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="ImageTransResponse">
<xs:sequence>
<xs:element name="return" type="xs:base64Binary" nillable="true" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="FileNotFoundException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>